<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Stock Management-{{ title }}</title>
    {% else %}
        <title>Stock Management</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Stock Management</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{url_for('main.home')}}">About</a>
              <!--<a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a>-->
              {%if current_user.is_authenticated%}
              <a class="nav-item nav-link" href="{{url_for('users.index')}}">Index</a>
              {%endif%}
            </div>
            <!-- Navbar Right Side -->
            
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{url_for('users.logout')}}">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="{{url_for('users.login')}}">Login</a>
              {%endif%}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          {% block content %}{% endblock %}
        </div>
        {%if current_user.is_authenticated%}
          <div class="row">
            <div class="" >
              <picture>
                <img src="https://34023468-dae3-4dc7-af0c-29995734d6be.s3.ap-south-1.amazonaws.com/static/godown_map2.JPG?response-content-disposition=inline%3B%20filename%3D%22godown_map2.JPG%22%3B%20filename%2A%3DUTF-8%27%27godown_map2.JPG&response-content-type=image%2Fjpeg&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAU4LAKYYRRDWV5Q4K%2F20200618%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20200618T182457Z&X-Amz-Expires=7200&X-Amz-SignedHeaders=host&X-Amz-Signature=5d9ff98e6236d48b558ddc1355fcafd88857c7348bbc21b385b340c59246bcd9">
                <img src="https://34023468-dae3-4dc7-af0c-29995734d6be.s3.ap-south-1.amazonaws.com/static/office_map.JPG?response-content-disposition=inline%3B%20filename%3D%22office_map.JPG%22%3B%20filename%2A%3DUTF-8%27%27office_map.JPG&response-content-type=image%2Fjpeg&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAU4LAKYYRRDWV5Q4K%2F20200618%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20200618T182847Z&X-Amz-Expires=7200&X-Amz-SignedHeaders=host&X-Amz-Signature=1b1a6fe3d4ba80c5d2c16b979083ef16fe876a2ab3f863125a50059212e4ec45">
              </picture>
            </div>
          </div>
        {%endif%}
      </div>
      
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>