{% extends "base.html" %}
{% block content %}
{%if current_user.username=='admin'%}
<div class="content-section">
 
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset >
            <legend class="border-bottom mb-20">Input Data</legend>
            <div class="form-row"> 
                <div class="form-group">
                    {{ form.place.label(class="form-control-label") }}
                    {% if form.place.errors %}
                        {{ form.place(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.place.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.place(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="table-responsive text-nowrap">
        <legend class="border-bottom mb-4">List</legend>
        <table class="table table-hover">
            <thead>
                {%if entry%}
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                </tr>
                {%else%}
                {%endif%}
            </thead>
            <tbody>
                {%for i in entry%}
                    <tr>
                        <td>{{i.n_b}}</td>
                        <td>{{i.size}}</td>
                        <td>{{i.quan}}</td>
                        <td>{{i.description}}</td>
                {%endfor%}
            </tbody>

          </table>
    </div>
<div>
    <h4>Total:- {{ total.totals }}</h4>
</div>
</div>
{%endif%}








{% endblock content %}
