{% extends "base.html" %}
{% block content %}
{%if current_user.username=='admin'%}
<div class="content-section" >

    <div class="table-responsive text-nowrap">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <legend class="border-bottom mb-20">Enter Start Date and End Date</legend>
                <div class="form-row"> 
                    <div class="form-group">
                        {{ form.start.label(class="form-control-label") }}
                        {% if form.start.errors %}
                            {{ form.start(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.start.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.start(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.end.label(class="form-control-label") }}
                        {% if form.end.errors %}
                            {{ form.end(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.end.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.end(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <legend class="border-bottom mb-20">Enter Sender , Size</legend>
                <div class="form-row"> 
                    <div class="form-group">
                        {{ form2.size.label(class="form-control-label") }}
                        {% if form2.size.errors %}
                            {{ form2.size(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form2.size.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form2.size(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form2.sender.label(class="form-control-label") }}
                        {% if form2.sender.errors %}
                            {{ form2.sender(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form2.sender.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form2.sender(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form2.submit2(class="btn btn-outline-info") }}
            </div>
        </form>
        <legend class="border-bottom mb-4">Log</legend>
        <table class="table table-hover">
            <thead>
                {%if entry%}
                <tr>
                    <th scope="col">Place</th>
                    <th scope="col">Cell No</th>
                    <th scope="col">Product</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Action</th>
                </tr>
                {%else%}
                {%endif%}
            </thead>
            <tbody>
                {%for i in entry%}
                    <tr>
                        <td>{{i.place}}</td>
                        <td>{{i.cell_no}}</td>
                        <td>{{i.n_b}}</td>
                        <td>{{i.size}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.recipient}}</td>
                        <td>{{i.time.strftime("%d-%m-%Y")}}</td>
                        <td>{{i.time.strftime("%I:%M %p")}}</td>
                        {%if current_user.username=='admin'%}
                        <td><a href="/editlog/{{i.id}}">Edit</a></td>
                        {%endif%}
                    </tr>
                {%endfor%}
            </tbody>
          </table>
    </div>
</div>
{%endif%}


{% endblock content %}
